Flask
Werkzeug
pandas
numpy
scikit-learn
joblib
langdetect
deep-translator
Pillow
pytesseract
openai-whisper
gTTS
pydub
requests
beautifulsoup4
gunicorn

--extra-index-url https://download.pytorch.org/whl/cpu
torch
